
<h2>Put delete test</h2>

<form action="/test/putTest?_method=PUT" method="POST">
    <input type="text" name="testing" hidden value="testing put">
    <button type="submit">submit put example</button>
</form>

<form action="/test/deleteTest?_method=DELETE" method="POST">
    <input type="text" name="testing" hidden value="testing delete">
    <button type="submit">submit delete example</button>
</form>

<h2>Multiselect typeahead test</h2>

<form action="/test/selectPut?_method=PUT" method="POST">
    <select id="example" name="selectOptions" multiple size="3">
        <% multiselectItems.forEach(item => { %>
            <option value=<%= item.id %>><%= item.name %></option>
        <% }); %>
    </select>
    <button type="submit">submit select options example</button>
</form>

<h2>Checkbox test, submit on check</h2>

<form action="test/checkboxPutTest?_method=PUT" method="POST">
    <label for="check1">Checkbox 1</label>
    <input id="check1" type="checkbox" name="check1" <%= checkbox1 ? "checked" : ""%>>
    <label for="check2">Checkbox 2</label>
    <input id="check2" type="checkbox" name="check2" <%= checkbox2 ? "checked" : ""%>>
    <label for="check3">Checkbox 3</label>
    <input id="check3" type="checkbox" name="check3" <%= checkbox3 ? "checked" : ""%>>
    <button type="submit">submit checkboxes</button>
</form>


<script>
    addEventListener('DOMContentLoaded', (event) => {
        let mySelect = new vanillaSelectBox("#example",{
            maxWidth: 500,
            maxHeight: 400,
            minWidth: -1,
            placeHolder: 'example placeholder'
    });
    });
</script>